.layout {
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 86vh;
  flex-shrink: 0;
  border-radius: 100px 100px 0px 100px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.31) 0%,
    rgba(0, 0, 0, 0.01) 100%
  );
  z-index: -1;
}

@media (min-width: 1540px) {
  .layout {
    width: 1010px;
    height: 1205px;
  }
}
