.component {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 35px;
}

.tab {
  width: 869px;
  height: 143px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 31px 81px 0px rgba(0, 17, 77, 0.2);
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 119px;
  margin-top: 24px;
  width: 245px;
  height: 94px;
  flex-shrink: 0;
  border-radius: 7px;
  background: #0d3de5;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  border: none;
}

button span {
  color: #fff;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.select-dropdown {
  margin-top: 1.5rem;
}

.select-dropdown,
.select-dropdown * {
  position: relative;
  box-sizing: border-box;
  width: 145px;
  height: 54px;
}
.select-dropdown {
  position: relative;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.select-dropdown select {
  font-size: 1rem;
  font-weight: normal;
  max-width: 100%;
  padding: 8px 24px 8px 10px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-dropdown select:active,
.select-dropdown select:focus {
  outline: none;
  box-shadow: none;
}
.select-dropdown:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
