@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
