.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 333px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #e4eaff;
}

p {
  width: 266px;
  color: #595959;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.tab img {
  position: relative;
  left: -30px;
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}
