.component {
  max-width: 1620px;
  height: 745.651px;
  flex-shrink: 0;
  margin-top: 10rem;
}

.blueDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 6rem;
  border-radius: 40px;
  background: #0d3de5;
  max-width: 1620px;
  height: 423px;
  flex-shrink: 0;
}

.blueDiv h1 {
  color: white;
}
